

<!-- add-user.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:insert="~{fragments.html :: head}">
  <title>Add User</title>
</head>
<body>
<!-- Include the header.html file -->
<header th:insert="~{fragments.html::navbar}"></header>
<div class="container py-5 ">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10 ">
      <div class="card bg-dark text-white rounded-4" >
        <div class="row card-body p-5 text-center">

          <h2 class="fw-bold mb-4 text-warning border-warning border-bottom">Add New User</h2>
          <div class="col-2"></div>
          <div class="col-8">
            <form th:fragment="navbar" th:action="@{/users/admin/add}" th:object="${user}" method="post">
              <div class="form-floating mb-4">
                <input th:field="*{email}" type="email" class="form-control bg-dark text-light" id="inputEmail" name="email" placeholder="email" required>
                <label for="inputEmail">Email</label>
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p>
                <p class="text-danger" th:if="${emailExists}">This email is already in use</p>
              </div>
              <div class="form-floating mb-4">
                <input th:field="*{username}" type="text" class="form-control bg-dark text-light" id="inputUsername" name="username" placeholder="Username" required>
                <label for="inputUsername">Username</label>
                <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
              </div>
              <div class="form-floating mb-4">
                <input th:field="*{password}" type="password" class="form-control bg-dark text-light" id="inputPassword" name="password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
                <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
              </div>
              <div class="form-floating mb-4">
                <input th:field="*{confirmPassword}" type="password" class="form-control bg-dark text-light" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
                <label for="confirmPassword">Confirm Password</label>
                <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Password Error</p>
              </div>


              <!--role choosing only for add-user at management-->
              <div sec:authorize="hasRole('ADMIN')" class="form-floating mb-4">
                <div class="form-floating">
                  <select th:field="*{role}" class="form-select bg-dark text-light" id="inputRole" aria-label="Floating label select example" name="userRole">
                    <option value="USER" selected>User</option>
                    <option value="ADMIN">Admin</option>
                  </select>

                  <label for="inputRole">Role</label>
                </div>
              </div>

              <div class="m-3 text-danger" th:if="${param.error}">
                Cannot add item, please try again later or check the server.
              </div>


              <button class="btn btn-outline-warning btn-lg px-5" type="submit">Create User</button>
            </form>
          </div>
        </div>
        <h5><a href="/admin" class="link-warning m-3">Back to admin dashboard</a></h5>
      </div>
    </div>
  </div>
</div>

<footer th:insert="~{fragments.html::footer}"></footer>
<!-- Bootstrap JavaScript -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>



