<!-- item-view.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:insert="~{fragments.html :: head}">
  <title>Home</title>
</head>
<body >
<!-- Include the header.html file -->
<header th:insert="~{fragments.html::navbar}"></header>

<div class="container py-5 ">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10 ">
      <div class="card bg-dark text-white rounded-4" >
        <div class="row card-body p-5 ">
          <h1 class="fw-bold text-center mb-4 text-warning border-warning border-bottom" th:text="${item.title}" >Item Title</h1>

          <div sec:authorize="hasRole('ROLE_ADMIN')"class="d-flex justify-content-end mb-2">
            <a th:href="@{/items/admin/edit/{id}(id=${item.id})}" class="btn btn-outline-light me-2">Edit Item</a>

            <form th:action="@{/items/admin/delete/{id}(id=${item.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
              <input type="hidden" name="_method" value="DELETE"/>
              <button type="submit" class="btn btn-outline-danger me-2">Delete Item</button>
            </form>
          </div>
          <ul th:with="fullStars=${(item.ratingAvg != null && item.ratingAvg != 0) ? (item.ratingAvg) / 2 : 1},
    halfStars=${item.ratingAvg != null && item.ratingAvg % 2 != 0 ? 1 : 0},
    emptyStars=${(item.ratingAvg == 10 ) ? 0 : (5 - fullStars.intValue() - halfStars.intValue())}"
              class="list-inline small text-warning text-center">

            <li class="list-inline-item m-0" th:each="star : ${#numbers.sequence(1, fullStars.intValue())}">
              <i class="bi bi-star-fill"></i>
            </li>
            <li class="list-inline-item m-0" th:if="${halfStars == 1}">
              <i class="bi bi-star-half"></i>
            </li>
            <li class="list-inline-item m-0" th:if="${emptyStars.intValue() > 0}" th:each="star : ${#numbers.sequence(1, emptyStars.intValue())}">
              <i class="bi bi-star"></i>
            </li>
          </ul>



          <img th:src="${item.photoUrl}" alt="Item image" class="border-secondary-5 border-5 col-lg-4 col-md-6 col-xs-6 rounded img-fluid img-thumbnail d-block mx-auto mb-3 mh-40" style="min-height: 24rem; max-height: 24rem; "/>

          <!-- About the bottle section -->
          <div class="accordion-item ">
            <h2 class="accordion-header " id="headingOne">
              <button class="accordion-button collapsed m-2 border-warning border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-warning ">About the bottle</h3>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#itemAccordion">
              <div class="accordion-body p-3">
                <p th:text="${item.content}"></p>
              </div>
            </div>
          </div>

          <!-- Reviews section -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed m-2 border-warning border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3 class="text-warning  ">Reviews</h3>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#itemAccordion">
              <div class="accordion-body p-3">
                <section th:insert="~{reviews-fragments.html :: reviews-list}">
                  <!-- Reviews list will go here -->
                </section>
              </div>
            </div>
          </div>

          <!-- Leave a review section only for Authenticated users -->
          <div class="accordion-item"  >
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed m-2 border-warning border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3 class="text-warning  ">Leave a Review</h3>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#itemAccordion">
              <div class="accordion-body p-3 ">
                <section th:insert="~{reviews-fragments.html :: add-review(review)}" sec:authorize="isAuthenticated()">
                  <!-- Add review form will go here -->
                </section>
                <div th sec:authorize="!isAuthenticated()">
                  <p >Only users can leave reviews, please <a href="/login" class="text-white-50 fw-bold ">login</a> </p>
                </div>

              </div>


            </div>
          </div>
        </div>
        <h5><a href="/items" class="link-warning m-3">Back to items list</a></h5>
      </div>
    </div>
  </div>
</div>

<footer th:insert="~{fragments.html::footer}"></footer>

<!-- Stars rating form choosing JavaScript -->
<script>
  var starContainerAddReview = document.getElementById('star-rating-add-review');
  var starsAddReview = Array.from(starContainerAddReview.getElementsByClassName('bi-star'));
  var inputRatingAddReview = document.getElementById('inputRating');

  // Initialization
  var previousValueAddReview = Number(inputRatingAddReview.value);

  starContainerAddReview.addEventListener('mouseover', function(e) {
    if (e.target.classList.contains('bi-star') || e.target.classList.contains('bi-star-fill')) {
      var value = Number(e.target.getAttribute('data-value'));
      highlightStars(value, starsAddReview);
    }
  });

  starContainerAddReview.addEventListener('mouseout', function() {
    highlightStars(previousValueAddReview, starsAddReview);
  });

  starContainerAddReview.addEventListener('click', function(e) {
    if (e.target.classList.contains('bi-star') || e.target.classList.contains('bi-star-fill')) {
      var value = Number(e.target.getAttribute('data-value'));
      inputRatingAddReview.value = value;
      previousValueAddReview = value;
      highlightStars(value, starsAddReview);
    }
  });

  // Initialize stars on page load
  highlightStars(previousValueAddReview, starsAddReview);

  function highlightStars(value, stars) {
    stars.forEach(function(star) {
      var starValue = Number(star.getAttribute('data-value'));
      if (starValue <= value) {
        star.classList.remove('bi-star');
        star.classList.add('bi-star-fill');
      } else {
        star.classList.remove('bi-star-fill');
        star.classList.add('bi-star');
      }
    });
  }
</script>

<!-- Bootstrap JavaScript -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
